**/node_modules
**/.turbo
**/.next
**/out
**/build
**/dist
**/coverage

.env
**/.env
.env.local
**/.env.local

.DS_Store
.idea
.vscode

# Default ignore everything, then allow only what's needed for builds
**
!package.json
!yarn.lock
!turbo.json
!apps/**/package.json
!packages/**/package.json
!scripts/**
!apps/api/prisma/**
!apps/api/data/**
!apps/api/Dockerfile
!apps/web/Dockerfile
